header{
    background-color:black;
    text-align:right;
    nav{
        width:100vw;
        position: fixed;
        z-index:9999;
        i{
            font-size:3rem !important;
        }
    }
}